.textContainer {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
    max-width: 800px; /* Adjust width as necessary for the rectangle shape */
    margin: 2rem auto; /* Center the container horizontally */
    color: black;
}

.textContainer h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: black;
}

.textContainer p {
    font-size: 1rem;
    color: black;
    line-height: 1.5;
    margin-bottom: 1rem;
}

/* Page Container (Optional) */
.pageContainer {
    width: 100vw;
    min-height: 70vh;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(184,0,255,1) 66%);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

.container h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: white;
}

.container p {
    font-size: 1.25rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: white;
}

/* Pricing Styles */
.pricing {
    padding: 2rem 1rem;
}

.pricingToggle {
    text-align: center;
    margin-bottom: 2rem;
}

.toggleBtn {
    background-color: #eee;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 0 0.25rem;
    border-radius: 0.25rem;
    width: 100px;
}

.pricingCards {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
    width: 300px;
}

.card h2 {
    margin-bottom: 1rem;
    color: black;
}

.price {
    color: black;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.price span {
    font-size: 1rem;
    color: #666;
}

.card ul {
    list-style: none;
    padding: 0;
    margin-bottom: 1rem;
}

.card li {
    margin-bottom: 0.5rem;
    color: black;
}

.card .btn {
    background-color: #eee;
    color: black;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin: 0 0.25rem;
    border-radius: 0.25rem;
    width: 200px;
}

.card .btn:hover {
    background-color: var(--link-hover-color);
}

.discountMessage {
    color: #ff4d4f; /* A red color to indicate discount */
    font-size: 1rem; /* A slightly smaller font size */
    font-weight: bold; /* Make the discount text bold */
    margin-top: -0.5rem; /* Slightly reduce the space above the discount text */
    margin-bottom: 1rem; /* Space between discount text and list items */
}
