.navigation_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* Logo styles */
.logo h1 {
    margin: 0;
    font-size: var(--font-size-medium);
    color: var(--secondary-color);
}

/* Navigation buttons container */
.navigation_buttons {
    display: flex;
    gap: 20px;
}

/* Links inside navigation buttons */
.navigation_buttons a {
    color: var(--secondary-color);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.navigation_buttons a:hover {
    background-color: var(--secondary-background-color);
    color: var(--secondary-color);
}

/* Special styles for Sign Up button */
.signUpButton {
    background-color: var(--accent-color);
    color: var(--secondary-color);
}

.signUpButton:hover {
    background-color: var(--link-hover-color);
}

/* Selected navigation item */
.navigation_buttons a.selected {
    background-color: var(--secondary-background-color);
    color: var(--secondary-color);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
}

.navigation_buttons a.selected::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 2px;
    background-color: var(--accent-color);
    border-radius: 5px;
}
